<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="spring-topic-common.xml"/>
    <!-- 生产者 -->
    <bean id="producer" class="com.atguigu.activemq.spring.eg02.SpringTopicProducer">
        <property name="template" ref="jmsTemplate"/>
    </bean>
</beans>
